.App {
  text-align: left;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #0C5360;
  height: 70px;
  padding: 20px;
  color: white;
  opacity: 0.7;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn-link,
.btn-link:hover,
.btn-link:active {
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 500px !important;
}

.button-submit {
  margin-top: 23px;
  margin-bottom: 23px;
}
.button-submit,
.button-submit:hover:not(:disabled){
  color: white;
  background-color: #0C5360;
  opacity: 0.7;
  border-color: black;
  transition: 0.35s;
}
.button-submit:active:not(:disabled) {
  /*color: white !important;*/
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.table-metrics {
  max-width: 700px !important;
  text-align: center !important;
}

table-metrics, th, td {
  border: 1px solid lightgrey;
  width: 500px;
}